<h1>My Task</h1>
<ul>
  <% @tasks.each do |task| %>
  <li class="text-decoration-none"><input type="checkbox"><%= link_to task.title, task_path(task) %></li>
  <li><%= link_to 'delete task', task_path(task), method: :delete %></li>
  <% end %>
</ul>

<p><%= link_to 'add a new task', tasks_path %></p>
